.toggle-btn
{
    position: absolute;
    top: 0;
    left: 50%;
    width: 145px;
    height: 74px;
    margin: 0 auto;
    border-radius: 40px;
    /*transform: scale(.6);*/
    transform: scale(0.5) translate(-100%, 65%);
}

input[type="checkbox"]
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
#_1st-toggle-btn span
{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 2px 25px #d9d9d9;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,#_1st-toggle-btn span:after
{
    content: '';
    position: absolute;
    top: 8px;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before
{
    background-color: #fff;
    transform: translate(-40px, 0px);
    z-index: 1;
}

#_1st-toggle-btn span:after
{
    background-color: #000;
    transform: translate(-63px,0px);
    z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span
{
    background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active + span
{
    opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:before
{
    background-color: white;
    transform: translate(0px, 0px);
}

#_1st-toggle-btn input[type="checkbox"]:checked + span:after
{
    background-color: black;
    transform: translate(0px,0px);
    visibility: hidden;
}

@media only screen and (max-width: 375px){
    .toggle-btn {
        position: absolute;
        top: 0;
        left: 50%;
        width: 145px;
        height: 74px;
        margin: 0 auto;
        border-radius: 40px;
        transform: scale(0.3) translate(-150%, 65%);
    }
}